version: '3.8'

services:
  vuln-bank:
    build: .
    
    ports:
      - "8080:8080"
    
    volumes:
      # 1. Mapeo del código: Mapea la carpeta 'app' de tu host al '/app' del contenedor
      - ./app:/app 
      
      # 2. Persistencia de la Base de Datos (Va al subdirectorio /app/data para permisos)
      - db_data:/app/data 
      
      # 3. Persistencia de Archivos y Uploads
      - file_data:/app/uploads
      
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1

    restart: always 
    
    command: python app.py

# Volúmenes definidos para la persistencia de datos
volumes:
  db_data:
  file_data:
